body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* CART  */

.paper {
  padding: 5px;
  max-width: 500;
}

.root {
  flex-grow: 1;
}

.image-prev {
  width: 128px;
  height: 128px;
}

.img-def {
  margin: auto;
  display: block;
  max-width: 100%;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

/* UTILIES */

.padding-horizontal {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.btn-lowerCase {
  text-transform: none !important;
}

.btn-ternery {
  background-color: #0061f2 !important;
}

.mt-3 {
  margin-top: 4rem !important;
}

/* LOGGED USER NAVBAR */

.white-link,
.white-link:link,
.white-link:visited {
  text-decoration: inherit !important;
  color: white;
  margin: 0 0.7rem;
}

.toolbarRight {
  margin-left: auto;
}
