body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* CART  */

.paper {
  padding: 5px;
  max-width: 500;
}

.root {
  flex-grow: 1;
}

.image-prev {
  width: 128px;
  height: 128px;
}

.img-def {
  margin: auto;
  display: block;
  max-width: 100%;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

/* UTILIES */

.padding-horizontal {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.btn-lowerCase {
  text-transform: none !important;
}

.btn-ternery {
  background-color: #0061f2 !important;
}

/* LOGGED USER NAVBAR */

.white-link,
.white-link:link,
.white-link:visited {
  text-decoration: inherit !important;
  color: white;
  margin: 0 0.7rem;
}

.toolbarRight {
  margin-left: auto;
}

/* beats background */

.background {
  background: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.eT6n9az7mvE5dsPV1HijfgHaDX%26pid%3DApi&f=1)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
